@model List<Fornecedor>

@using Model.Model;

<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Fornecedores</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Fornecedor" asp-action="FornecedorCreate" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Criar novo fornecedor
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    CNPJ
                </th>
                <th>
                    CEP
                </th>
                <th>
                    Endereço
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Cnpj
                    </td>
                    <td>
                        @((item.Cep))
                    </td>
                    <td>
                        @((item.Endereco))
                    </td>
                    <td>
                        <a asp-controller="Fornecedor" asp-action="FornecedorUpdate" asp-route-id="@item.Id" class="btn btn-success">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a asp-controller="Fornecedor" asp-action="FornecedorDelete" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>